Node red flows.json
[{"id":"2cd7d064.53b57","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f242325f.e35c5","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"877c7bae.6ed558","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"28c8ab2a.18c974","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","disabled":false,"hidden":false},{"id":"795d7811.c74d28","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#1497b8","baseFont":"Impact,Impact,Charcoal,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":30,"sy":30,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"639fc2ba.87568c","type":"ui_group","z":"","name":"openWeather","tab":"353da4e9.81a4cc","order":2,"disp":true,"width":"6","collapse":false},{"id":"353da4e9.81a4cc","type":"ui_tab","z":"","name":"Open Weather","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8de7cca.356e93","type":"ui_group","z":"","name":"sensor data","tab":"28c8ab2a.18c974","order":1,"disp":true,"width":"6","collapse":false},{"id":"4159d1fb.41fa5","type":"ui_group","z":"","name":"Motor control","tab":"28c8ab2a.18c974","order":2,"disp":true,"width":"6","collapse":false},{"id":"c86ea415.1637d8","type":"ibmiot in","z":"2cd7d064.53b57","authentication":"apiKey","apiKey":"877c7bae.6ed558","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Agri1","applicationId":"","deviceType":"iot_device","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":180,"wires":[["a18c722a.22fff","199fc421.62c74c","9e4e77ec.7805d8","d91be73.6138618"]]},{"id":"a18c722a.22fff","type":"debug","z":"2cd7d064.53b57","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":180,"wires":[]},{"id":"199fc421.62c74c","type":"function","z":"2cd7d064.53b57","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["a4ee4812.534db8","a18c722a.22fff"]]},{"id":"9e4e77ec.7805d8","type":"function","z":"2cd7d064.53b57","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["a18c722a.22fff","541e9586.16c43c"]]},{"id":"a4ee4812.534db8","type":"ui_gauge","z":"2cd7d064.53b57","name":"","group":"8de7cca.356e93","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":100,"wires":[]},{"id":"541e9586.16c43c","type":"ui_gauge","z":"2cd7d064.53b57","name":"","group":"8de7cca.356e93","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":240,"wires":[]},{"id":"c284add4.509","type":"ibmiot out","z":"2cd7d064.53b57","authentication":"apiKey","apiKey":"877c7bae.6ed558","outputType":"cmd","deviceId":"motor","deviceType":"Motor_device","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1140,"y":200,"wires":[]},{"id":"1cd85ac3.5dc515","type":"inject","z":"f242325f.e35c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":220,"wires":[["a47c6096.28822"]]},{"id":"a47c6096.28822","type":"http request","z":"f242325f.e35c5","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Delhi,India&APPID=0820b3baeb69042b6987180c8939f200","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":220,"wires":[["ca2b90e5.55c2","d8181668.c69458","267ca691.30474a","108945de.ca8afa"]]},{"id":"ca2b90e5.55c2","type":"change","z":"f242325f.e35c5","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload.main.humidity) &\"%\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["597d3d24.7e9874","24d2a8.20df8d58"]]},{"id":"d8181668.c69458","type":"change","z":"f242325f.e35c5","name":"Weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload.weather[0].main)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["597d3d24.7e9874","1b0cf8ff.e07177"]]},{"id":"597d3d24.7e9874","type":"debug","z":"f242325f.e35c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":220,"wires":[]},{"id":"267ca691.30474a","type":"change","z":"f242325f.e35c5","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string( $round((msg.payload.main.temp - 273.15),2))& \" °C\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":120,"wires":[["597d3d24.7e9874","a4bca55b.e87f18"]]},{"id":"108945de.ca8afa","type":"change","z":"f242325f.e35c5","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string($round((payload.main.pressure/1.3232),2))&\"mmhg\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["597d3d24.7e9874","75d2fcc0.2e3814"]]},{"id":"99b415c.499a4e8","type":"debug","z":"2cd7d064.53b57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"motor off\"","targetType":"jsonata","x":1300,"y":240,"wires":[]},{"id":"8fb3b65f.7d0788","type":"debug","z":"2cd7d064.53b57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Motor On\"","targetType":"jsonata","x":1300,"y":180,"wires":[]},{"id":"992c1f5a.935f6","type":"ibmiot out","z":"2cd7d064.53b57","authentication":"apiKey","apiKey":"877c7bae.6ed558","outputType":"cmd","deviceId":"motor","deviceType":"Motor_device","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":340,"y":360,"wires":[]},{"id":"75924ebe.27494","type":"ui_button","z":"2cd7d064.53b57","name":"","group":"4159d1fb.41fa5","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR ON\"}","payloadType":"json","topic":"","x":150,"y":320,"wires":[["992c1f5a.935f6","3a5e0b6.bfccaf4"]]},{"id":"6be3af0f.4f2da","type":"ui_button","z":"2cd7d064.53b57","name":"","group":"4159d1fb.41fa5","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR OFF\"}","payloadType":"json","topic":"","x":160,"y":400,"wires":[["992c1f5a.935f6","32a7da5a.79c1b6"]]},{"id":"32a7da5a.79c1b6","type":"debug","z":"2cd7d064.53b57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"motor off\"","targetType":"jsonata","x":520,"y":400,"wires":[]},{"id":"3a5e0b6.bfccaf4","type":"debug","z":"2cd7d064.53b57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Motor On\"","targetType":"jsonata","x":520,"y":320,"wires":[]},{"id":"1b0cf8ff.e07177","type":"ui_text","z":"f242325f.e35c5","group":"639fc2ba.87568c","order":2,"width":0,"height":0,"name":"","label":"weather","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":260,"wires":[]},{"id":"75d2fcc0.2e3814","type":"ui_text","z":"f242325f.e35c5","group":"639fc2ba.87568c","order":3,"width":0,"height":0,"name":"","label":"pressure","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":320,"wires":[]},{"id":"a4bca55b.e87f18","type":"ui_text","z":"f242325f.e35c5","group":"639fc2ba.87568c","order":1,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":120,"wires":[]},{"id":"24d2a8.20df8d58","type":"ui_text","z":"f242325f.e35c5","group":"639fc2ba.87568c","order":2,"width":0,"height":0,"name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":180,"wires":[]},{"id":"d91be73.6138618","type":"function","z":"2cd7d064.53b57","name":"Soil Temperature","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["a18c722a.22fff","be258253.403e6"]]},{"id":"be258253.403e6","type":"ui_gauge","z":"2cd7d064.53b57","name":"","group":"8de7cca.356e93","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"50","colors":["#ff0000","#ff0000","#fd3a3a"],"seg1":"","seg2":"","x":600,"y":140,"wires":[]}]